@media (min-width: 1158px) {
  .container {
    width: 1440px;
    padding: 0 16px;
  }
  .section_first {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-comp@2.jpg);
    padding: 188px 0;
  }
  .section_h_first {
    margin-bottom: 48px;
    padding: 0 0px;
    line-height: 1.07;
    font-size: 56px;
  }

  .section_fourth_li {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border: 1px solid rgba(244, 244, 253, 1);
  }

  .section_fourth_list {
    display: grid;
    grid-template-columns: repeat(3, 360px);
  }

  .modal_main {
    width: 408px;
    max-width: 35%;
  }

  .heder_butoon_menu {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .logo_start {
    margin-right: 76px;
  }

  .heder_menu {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }

  .heder_menu_start {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
